#  Описание проекта 

Цель проекта - исследовать поведение клиентов банка, выявить зависимости между характеристиками клианта и своевременным возвратом кредита.

# Исследовательский анализ

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [5]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

# Предобработка данных

In [6]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [9]:
data.isna().mean()*100 #доля пропусков

children             0.000000
days_employed       10.099884
dob_years            0.000000
education            0.000000
education_id         0.000000
family_status        0.000000
family_status_id     0.000000
gender               0.000000
income_type          0.000000
debt                 0.000000
total_income        10.099884
purpose              0.000000
dtype: float64

In [10]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

In [11]:
data['days_employed'] = data['days_employed'].abs()

In [12]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

In [13]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [14]:
data = data.query('children not in [-1, 20]')

In [15]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

In [16]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [17]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [18]:
data['total_income'] = data['total_income'].astype(int)

In [19]:
data['education'] = data['education'].str.lower()

In [20]:
data.duplicated().sum()

71

In [21]:
data = data.drop_duplicates()

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [22]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [23]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data['total_income_category'].value_counts() # Вот так?

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [24]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [25]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [26]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data['purpose_category'].value_counts()

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

# Исследовательский анализ

###  Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [27]:
df = pd.DataFrame({'sum': [],
                    'count': [],
                    'mean': []
                  })

df['sum']=data.groupby(['children'])['debt'].sum()
df['count']=data.groupby(['children'])['debt'].count()
df['mean']=data.groupby(['children'])['debt'].mean()*100

df

           sum  count      mean
children
0         1063  14091  7.543822
1          444   4808  9.234609
2          194   2052  9.454191
3           27    330  8.181818
4            4     41  9.756098
5            0      9  0.000000

**Вывод:** Да, зависимость есть. Показатель у семей с 5-ю детьми, возможно связан с маленьким количеством записей (это вполне логично, ведь семьи с 5-ю детьми встречаются гораздо реже). Наилучший показатель у людей, которые не имеют детей, доля должников здесь составляет с 7,5%, хуже обстоит дело с кредиторами, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?¶

In [28]:
data.groupby(['family_status'])['debt'].agg(['count','mean'])

def categorize_family_status(status):
    try:
        if 'Не женат' in status or 'в разводе' in status:
            return 'не в браке'
        elif 'женат' in status or 'гражданский брак' in status:
            return 'в браке'
        elif 'вдовец' in status:
            return 'вдовец / вдова'
    except:
        pass
    
data['family_status_category'] = data['family_status'].apply(categorize_family_status)
data.groupby(['family_status_category'])['debt'].agg(['count','sum', 'mean'])

                        count   sum      mean
family_status_category
в браке                 16395  1312  0.080024
вдовец / вдова            951    63  0.066246
не в браке               3985   357  0.089586

**Вывод:** Вдовцы/вдовы реже остальных имеют задолженности по кредитам.

In [30]:
# Разделим клиентов на группы по уровню зароботка, (Ранее мы получили 5 групп (E, D, C, B, A), 
#но сейчас я выделила всего четыре группы, так как у нас довольно мало записей для людей с низким доходом)
#D - клиент с наименьшим уровнем дохода
#A - клиент с наибольшим уровнем дохода

#print(data.groupby('total_income_category')['total_income'].sum())
def categorize_income(income):
    try:
        if income <= 200000:
            return 'Низкий доход'
        elif 200001 <= income:
            return 'Высокий доход'
        
    except:
        pass
data['total_income_category'] = data['total_income'].apply(categorize_income)
print(data.groupby(['total_income_category'])['debt'].agg(['count','mean']))

                       count      mean
total_income_category
Высокий доход           5039  0.070649
Низкий доход           16292  0.084459

**Вывод:** Люди со средним доходом наиболее часто становятся должниками по кредиту, также в числе задолжников часто оказываются люди с высоким доходом. 

#Не совсем понимаю, как это объяснить, возможно, людям со средним доход тяжелее распределить бюджет, а люди с высоким доходом видимо берут кредиты для проведения крупных операций, что тоже может быть не так предсказуемо. А люди с низким доходом, я думаю, более экономны и заботятся о хорошей кредитной истории.

### Как разные цели кредита влияют на его возврат в срок?

In [31]:
data.groupby(['purpose_category'])['debt'].agg(['count','mean'])

                          count      mean
purpose_category
операции с автомобилем     4279  0.093480
операции с недвижимостью  10751  0.072551
получение образования      3988  0.092528
проведение свадьбы         2313  0.079118

**Вывод:** Наибольшее количество задолженностей у людей, которые брали кредит с целью проведения операций с автомобилем и получением образования. Операции с недвижимостью имеют наилучший показатель.

# Вывод
Подведем итоги:
1. Количсетво детей влияет на вероятность выплаты кредита в срок. Люди, которые не имеют детей, лучше всего отдают кредит, доля должников здесь составляет с 7,5%, хуже обстоит дело с кредиторами, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%.
2. С вероятностью 8,9% выплату задержат люди, не состоящие в браке. Вдовцы и вдовы наиболее ответсвенно подходят к выплате долга, здесь показатель составил 6,6%.
3. Доля должников с низким/средним доходом составила 8,4%, что на 1,4% больше, чем у клиентов с высоким доходом.
4. Цель кредита влияет на вероятность своевременного возврата долга. Люди, берущие кредит для проведения операций с недвижимостью с большей вероятностью выплатят кредит в срок, чем клиенты, чья цель связана с покупкой автомобтиля. Их доли составляют соотвественно 7,3% и 9,3%.

Рекомендации: в дальнейшем стоит больше внимания уделить категоризации людей по семейному статусу.